body 
{
    background-color: red;
    /* background-color: #ff0000; */
    /* background-color: rgb(255,0,0); */
    color:white;
}
h1 {
    color:royalblue;
    font-size: 10em;
}

p
{
    font-size: 30px;
    background-color: black;
    padding: 15px;
    width: 95%;
    height: auto;
    text-align: left;
    float: left;
    /* color: white;  */
}

section {
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.paragraphe
{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    padding: 10px;
    width: 95%;
    height: 200px;
    text-align: right;
}
