body 
{
    background-color: red;
    /* background-color: #ff0000; */
    /* background-color: rgb(255,0,0); */
    color:white;
}
h1 {
    color:blue;
    font-size: 150px;
}

p
{
    font-size: 30px;
    background-color: black;
    padding: 15px;
    width: 70%;
    height: auto;
    text-align: left;
    float: left;
    /* color: white;  */
}
.paragraphe
{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    padding: 15px;
    width: 6à;
    height: auto;
    text-align: right;
    float: right;
}